<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Paystack Payment</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.css">
</head>

<body>
        <div class="container-fluid">
            <div id="flash-messages">
                <%if( error && error.length > 0){%>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
                <% }%>
                <%if( success && success.length > 0){%>
                <div class="alert alert-success" role="alert">
                    <%= success %>
                </div>
                <% }%>
            </div>
 